/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain; }
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; width:100%; top:0; left:0; }
#container-wrap, #container { min-height:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
@media all and (-ms-high-contrast:none){ *::-ms-backdrop,.svg-img{width:100%;} }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
.pageItem.group[data-ani] { will-change: transform; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }

.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-audio.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }

.page.ls { bottom:auto !important; }

nav#page-nav { display:none; }
html.nav-transition nav#page-nav { opacity:.3; pointer-events:none; }
nav#page-nav > button {
	display:block; position:fixed;
	left:0;
	top:50%;
	width:68px;
	height:68px;
	margin:-34px 0 0 0; /*.5 height*/
	text-align:center;
	outline:0;
	background:url(../images/arrows-slider.svg) no-repeat;
	opacity:.7;
}	
nav#page-nav > button:hover { opacity:1; }
nav#page-nav > #backBtn { left:0; }
html[data-dir="rtl"] nav#page-nav > #backBtn, html:not([data-dir="rtl"]) nav#page-nav > #nextBtn { 
	left:auto;
	right:0; 
	-ms-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
}

.hidden { display:none !important; }
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }
.panzoom > .content {
	-ms-transform:none;
    -ms-transform-origin:auto;
    -webkit-transform:none;
    -webkit-transform-origin:auto;
    transform:none;
    transform-origin:auto;
}
.panzoom:not(.dragging) > .content {
	transition:all .3s;
}

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex; 
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:1.5ex;padding-left:1.5ex; }
p.no-start-indent { text-indent:0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#ededed; }
:-webkit-full-screen { background:#ededed; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
.page-scale-wrap { width:1670px; height:1000px; background: #fff !important; }
.paper-vertical { width:1670px; height:100%; }
.paper-horizontal { width:8400px; height:1012px; }
@media all and (max-height:1000px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:1670px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}
@font-face {
	font-family:FF-MinionPro-Regular;
	src:url("../fonts/MinionPro-Regular.otf");
}

@font-face {
	font-family:FF-VontobelSerif-Bold;
	src:url("../fonts/VontobelSerif-Bold.otf");
	font-weight:bold;
}

@font-face {
	font-family:FF-VontobelSans-Book;
	src:url("../fonts/VontobelSans-Book.otf");
}

@font-face {
	font-family:FF-VontobelSans-Regular;
	src:url("../fonts/Sans-Regular.otf");
}

@font-face {
	font-family:FF-VontobelSans-Bold;
	src:url("../fonts/Sans-Bold.otf");
	font-weight:bold;
}

#item910 {
	width:1670px !important;
	height:276px !important;
	background:#fff;
}

#item864 {
	width:1092px !important;
	left:289px !important;
	top:70px !important;
	min-height:140px !important;
}

#item1012 {
	width:1670px !important;
	height:172px !important;
	background:#fff;
}

#item1014 {
	width:165px !important;
	left:115px !important;
	top:132px !important;
	min-height:17px !important;
}

#item1037 {
	width:86px !important;
	left:1092px !important;
	top:132px !important;
	min-height:17px !important;
}

#item1060 {
	width:86px !important;
	left:1215px !important;
	top:132px !important;
	min-height:17px !important;
}

#item1083 {
	width:86px !important;
	left:1320px !important;
	top:132px !important;
	min-height:17px !important;
}

#item1106 {
	width:86px !important;
	left:1443px !important;
	top:132px !important;
	min-height:17px !important;
}

#item1129 {
	width:84px !important;
	height:8px !important;
	left:1321px !important;
	top:164px !important;
	background:#ffd400;
}

#item1131 {
	width:1670px !important;
	height:324px !important;
	top:172px !important;
	background:#000;
}

#item3962 {
	width:692px !important;
	left:289px !important;
	top:363px !important;
	min-height:54px !important;
}

#item3486 {
	width:686px !important;
	left:289px !important;
	top:256px !important;
	min-height:100px !important;
}

#item12430 {
	width:196px !important;
	height:33px !important;
	left:117px !important;
	top:64px !important;
}

#item2831 {
	width:1668px !important;
	height:527px !important;
	left:1px !important;
	background:#fff;
}

#item2797 {
	width:463px !important;
	left:289px !important;
	top:180px !important;
	min-height:240px !important;
}

#item3570 {
	width:1670px !important;
	height:239px !important;
	background:#f0ede4;
}

#item3571 {
	width:1092px !important;
	left:322px !important;
	top:61px !important;
	min-height:132px !important;
}

#item6927 {
	width:41px !important;
	height:16px !important;
	left:289px !important;
	top:405px !important;
}

#item21222 {
	width:346px !important;
	left:68px !important;
	top:153px !important;
	min-height:275px !important;
}

#item21246 {
	width:332px !important;
	left:1014px !important;
	top:813px !important;
	min-height:145px !important;
}

#item21269 {
	width:33px !important;
	height:21px !important;
	left:332px !important;
	top:823px !important;
}

#item21275 {
	width:33px !important;
	height:21px !important;
	left:332px !important;
	top:858px !important;
}

#item21279 {
	width:33px !important;
	height:21px !important;
	left:332px !important;
	top:893px !important;
}

#item21282 {
	width:33px !important;
	height:21px !important;
	left:332px !important;
	top:928px !important;
}

#item21285 {
	width:33px !important;
	height:21px !important;
	left:332px !important;
	top:963px !important;
}

#item21289 {
	width:33px !important;
	height:21px !important;
	left:332px !important;
	top:998px !important;
}

#item21292 {
	width:33px !important;
	height:21px !important;
	left:332px !important;
	top:1033px !important;
}

#item21297 {
	width:33px !important;
	height:21px !important;
	left:332px !important;
	top:1069px !important;
}

#item21302 {
	width:33px !important;
	height:21px !important;
	left:332px !important;
	top:1104px !important;
}

#item21305 {
	width:33px !important;
	height:21px !important;
	left:332px !important;
	top:1139px !important;
}

#item21310 {
	width:33px !important;
	height:21px !important;
	left:332px !important;
	top:1174px !important;
}

#item21313 {
	width:33px !important;
	height:21px !important;
	left:332px !important;
	top:1209px !important;
}

#item21316 {
	width:33px !important;
	height:21px !important;
	left:332px !important;
	top:1244px !important;
}

#item21320 {
	width:33px !important;
	height:21px !important;
	left:332px !important;
	top:1279px !important;
}

#item21323 {
	width:33px !important;
	height:21px !important;
	left:289px !important;
	top:823px !important;
}

#item21327 {
	width:33px !important;
	height:21px !important;
	left:289px !important;
	top:858px !important;
}

#item21330 {
	width:33px !important;
	height:21px !important;
	left:289px !important;
	top:893px !important;
}

#item21333 {
	width:33px !important;
	height:21px !important;
	left:289px !important;
	top:928px !important;
}

#item21337 {
	width:33px !important;
	height:21px !important;
	left:289px !important;
	top:963px !important;
}

#item21342 {
	width:33px !important;
	height:21px !important;
	left:289px !important;
	top:998px !important;
}

#item21346 {
	width:33px !important;
	height:21px !important;
	left:289px !important;
	top:1033px !important;
}

#item21352 {
	width:33px !important;
	height:21px !important;
	left:289px !important;
	top:1069px !important;
}

#item21355 {
	width:33px !important;
	height:21px !important;
	left:289px !important;
	top:1104px !important;
}

#item21358 {
	width:33px !important;
	height:21px !important;
	left:289px !important;
	top:1139px !important;
}

#item21362 {
	width:33px !important;
	height:21px !important;
	left:289px !important;
	top:1174px !important;
}

#item21366 {
	width:33px !important;
	height:21px !important;
	left:289px !important;
	top:1209px !important;
}

#item21370 {
	width:33px !important;
	height:21px !important;
	left:289px !important;
	top:1244px !important;
}

#item21373 {
	width:33px !important;
	height:21px !important;
	left:289px !important;
	top:1279px !important;
}

#item21376 {
	width:33px !important;
	height:21px !important;
	left:376px !important;
	top:823px !important;
}

#item21380 {
	width:33px !important;
	height:21px !important;
	left:376px !important;
	top:858px !important;
}

#item21387 {
	width:33px !important;
	height:21px !important;
	left:376px !important;
	top:893px !important;
}

#item21390 {
	width:33px !important;
	height:21px !important;
	left:376px !important;
	top:928px !important;
}

#item21396 {
	width:33px !important;
	height:21px !important;
	left:376px !important;
	top:963px !important;
}

#item21399 {
	width:33px !important;
	height:21px !important;
	left:376px !important;
	top:998px !important;
}

@keyframes pulse-21399 {
	0% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
	21% {transform:translate(0px,0px) scaleX(1.32) scaleY(1.32);}
	42% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
	63% {transform:translate(0px,0px) scaleX(1.8) scaleY(1.8);}
	83% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
@-webkit-keyframes pulse-21399 {
	0% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
	21% {-webkit-transform:translate(0px,0px) scaleX(1.32) scaleY(1.32);}
	42% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
	63% {-webkit-transform:translate(0px,0px) scaleX(1.8) scaleY(1.8);}
	83% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
#item21402 {
	width:33px !important;
	height:21px !important;
	left:376px !important;
	top:1033px !important;
}

#item21406 {
	width:33px !important;
	height:21px !important;
	left:376px !important;
	top:1069px !important;
}

#item21409 {
	width:33px !important;
	height:21px !important;
	left:376px !important;
	top:1104px !important;
}

#item21413 {
	width:33px !important;
	height:21px !important;
	left:376px !important;
	top:1139px !important;
}

#item21416 {
	width:33px !important;
	height:21px !important;
	left:376px !important;
	top:1174px !important;
}

#item21419 {
	width:33px !important;
	height:21px !important;
	left:376px !important;
	top:1209px !important;
}

#item21423 {
	width:33px !important;
	height:21px !important;
	left:376px !important;
	top:1244px !important;
}

#item21428 {
	width:33px !important;
	height:21px !important;
	left:376px !important;
	top:1279px !important;
}

#item21431 {
	width:33px !important;
	height:21px !important;
	left:419px !important;
	top:823px !important;
}

#item21436 {
	width:33px !important;
	height:21px !important;
	left:419px !important;
	top:858px !important;
}

#item21439 {
	width:33px !important;
	height:21px !important;
	left:419px !important;
	top:893px !important;
}

#item21443 {
	width:33px !important;
	height:21px !important;
	left:419px !important;
	top:928px !important;
}

#item21449 {
	width:33px !important;
	height:21px !important;
	left:419px !important;
	top:963px !important;
}

#item21452 {
	width:33px !important;
	height:21px !important;
	left:419px !important;
	top:998px !important;
}

#item21456 {
	width:33px !important;
	height:21px !important;
	left:419px !important;
	top:1033px !important;
}

#item21459 {
	width:33px !important;
	height:21px !important;
	left:419px !important;
	top:1069px !important;
}

#item21463 {
	width:33px !important;
	height:21px !important;
	left:419px !important;
	top:1104px !important;
}

#item21467 {
	width:33px !important;
	height:21px !important;
	left:419px !important;
	top:1139px !important;
}

#item21472 {
	width:33px !important;
	height:21px !important;
	left:419px !important;
	top:1174px !important;
}

#item21475 {
	width:33px !important;
	height:21px !important;
	left:419px !important;
	top:1209px !important;
}

#item21480 {
	width:33px !important;
	height:21px !important;
	left:419px !important;
	top:1244px !important;
}

#item21483 {
	width:33px !important;
	height:21px !important;
	left:419px !important;
	top:1279px !important;
}

#item21486 {
	width:33px !important;
	height:21px !important;
	left:463px !important;
	top:823px !important;
}

#item21491 {
	width:33px !important;
	height:21px !important;
	left:463px !important;
	top:858px !important;
}

#item21494 {
	width:33px !important;
	height:21px !important;
	left:463px !important;
	top:893px !important;
}

#item21498 {
	width:33px !important;
	height:21px !important;
	left:463px !important;
	top:928px !important;
}

#item21501 {
	width:33px !important;
	height:21px !important;
	left:463px !important;
	top:963px !important;
}

#item21504 {
	width:33px !important;
	height:21px !important;
	left:463px !important;
	top:998px !important;
}

#item21508 {
	width:33px !important;
	height:21px !important;
	left:463px !important;
	top:1033px !important;
}

#item21513 {
	width:33px !important;
	height:21px !important;
	left:463px !important;
	top:1069px !important;
}

#item21516 {
	width:33px !important;
	height:21px !important;
	left:463px !important;
	top:1104px !important;
}

#item21521 {
	width:33px !important;
	height:21px !important;
	left:463px !important;
	top:1139px !important;
}

#item21524 {
	width:33px !important;
	height:21px !important;
	left:463px !important;
	top:1174px !important;
}

#item21527 {
	width:33px !important;
	height:21px !important;
	left:463px !important;
	top:1209px !important;
}

#item21531 {
	width:33px !important;
	height:21px !important;
	left:463px !important;
	top:1244px !important;
}

#item21534 {
	width:33px !important;
	height:21px !important;
	left:463px !important;
	top:1279px !important;
}

#item21540 {
	width:33px !important;
	height:21px !important;
	left:506px !important;
	top:823px !important;
}

#item21544 {
	width:33px !important;
	height:21px !important;
	left:506px !important;
	top:858px !important;
}

#item21547 {
	width:33px !important;
	height:21px !important;
	left:506px !important;
	top:893px !important;
}

#item21551 {
	width:33px !important;
	height:21px !important;
	left:506px !important;
	top:928px !important;
}

#item21556 {
	width:33px !important;
	height:21px !important;
	left:506px !important;
	top:963px !important;
}

#item21559 {
	width:33px !important;
	height:21px !important;
	left:506px !important;
	top:998px !important;
}

#item21564 {
	width:33px !important;
	height:21px !important;
	left:506px !important;
	top:1033px !important;
}

#item21567 {
	width:33px !important;
	height:21px !important;
	left:506px !important;
	top:1069px !important;
}

#item21570 {
	width:33px !important;
	height:21px !important;
	left:506px !important;
	top:1104px !important;
}

#item21574 {
	width:33px !important;
	height:21px !important;
	left:506px !important;
	top:1139px !important;
}

#item21577 {
	width:33px !important;
	height:21px !important;
	left:506px !important;
	top:1174px !important;
}

#item21581 {
	width:33px !important;
	height:21px !important;
	left:506px !important;
	top:1209px !important;
}

#item21584 {
	width:33px !important;
	height:21px !important;
	left:506px !important;
	top:1244px !important;
}

@keyframes pulse-21584 {
	0% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
	21% {transform:translate(0px,0px) scaleX(1.32) scaleY(1.32);}
	42% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
	63% {transform:translate(0px,0px) scaleX(1.8) scaleY(1.8);}
	83% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
@-webkit-keyframes pulse-21584 {
	0% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
	21% {-webkit-transform:translate(0px,0px) scaleX(1.32) scaleY(1.32);}
	42% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
	63% {-webkit-transform:translate(0px,0px) scaleX(1.8) scaleY(1.8);}
	83% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
#item21588 {
	width:33px !important;
	height:21px !important;
	left:506px !important;
	top:1279px !important;
}

#item21592 {
	width:33px !important;
	height:21px !important;
	left:550px !important;
	top:823px !important;
}

#item21597 {
	width:33px !important;
	height:21px !important;
	left:550px !important;
	top:858px !important;
}

#item21600 {
	width:33px !important;
	height:21px !important;
	left:550px !important;
	top:893px !important;
}

#item21605 {
	width:33px !important;
	height:21px !important;
	left:550px !important;
	top:928px !important;
}

#item21608 {
	width:33px !important;
	height:21px !important;
	left:550px !important;
	top:963px !important;
}

#item21611 {
	width:33px !important;
	height:21px !important;
	left:550px !important;
	top:998px !important;
}

#item21615 {
	width:33px !important;
	height:21px !important;
	left:550px !important;
	top:1033px !important;
}

#item21618 {
	width:33px !important;
	height:21px !important;
	left:550px !important;
	top:1069px !important;
}

#item21622 {
	width:33px !important;
	height:21px !important;
	left:550px !important;
	top:1104px !important;
}

#item21625 {
	width:33px !important;
	height:21px !important;
	left:550px !important;
	top:1139px !important;
}

#item21628 {
	width:33px !important;
	height:21px !important;
	left:550px !important;
	top:1174px !important;
}

#item21633 {
	width:33px !important;
	height:21px !important;
	left:550px !important;
	top:1209px !important;
}

#item21639 {
	width:33px !important;
	height:21px !important;
	left:550px !important;
	top:1244px !important;
}

#item21642 {
	width:33px !important;
	height:21px !important;
	left:550px !important;
	top:1279px !important;
}

#item21647 {
	width:33px !important;
	height:21px !important;
	left:593px !important;
	top:823px !important;
}

#item21650 {
	width:33px !important;
	height:21px !important;
	left:593px !important;
	top:858px !important;
}

#item21654 {
	width:33px !important;
	height:21px !important;
	left:593px !important;
	top:893px !important;
}

#item21659 {
	width:33px !important;
	height:21px !important;
	left:593px !important;
	top:928px !important;
}

#item21662 {
	width:33px !important;
	height:21px !important;
	left:593px !important;
	top:963px !important;
}

#item21666 {
	width:33px !important;
	height:21px !important;
	left:593px !important;
	top:998px !important;
}

#item21669 {
	width:33px !important;
	height:21px !important;
	left:593px !important;
	top:1033px !important;
}

#item21672 {
	width:33px !important;
	height:21px !important;
	left:593px !important;
	top:1069px !important;
}

#item21676 {
	width:33px !important;
	height:21px !important;
	left:593px !important;
	top:1104px !important;
}

#item21681 {
	width:33px !important;
	height:21px !important;
	left:593px !important;
	top:1139px !important;
}

#item21685 {
	width:33px !important;
	height:21px !important;
	left:593px !important;
	top:1174px !important;
}

#item21690 {
	width:33px !important;
	height:21px !important;
	left:593px !important;
	top:1209px !important;
}

#item21693 {
	width:33px !important;
	height:21px !important;
	left:593px !important;
	top:1244px !important;
}

#item21696 {
	width:33px !important;
	height:21px !important;
	left:593px !important;
	top:1279px !important;
}

#item21700 {
	width:33px !important;
	height:21px !important;
	left:637px !important;
	top:823px !important;
}

#item21703 {
	width:33px !important;
	height:21px !important;
	left:637px !important;
	top:858px !important;
}

#item21707 {
	width:33px !important;
	height:21px !important;
	left:637px !important;
	top:893px !important;
}

#item21710 {
	width:33px !important;
	height:21px !important;
	left:637px !important;
	top:928px !important;
}

#item21713 {
	width:33px !important;
	height:21px !important;
	left:637px !important;
	top:963px !important;
}

#item21718 {
	width:33px !important;
	height:21px !important;
	left:637px !important;
	top:998px !important;
}

#item21723 {
	width:33px !important;
	height:21px !important;
	left:637px !important;
	top:1033px !important;
}

#item21726 {
	width:33px !important;
	height:21px !important;
	left:637px !important;
	top:1069px !important;
}

#item21734 {
	width:33px !important;
	height:21px !important;
	left:637px !important;
	top:1104px !important;
}

#item21737 {
	width:33px !important;
	height:21px !important;
	left:637px !important;
	top:1139px !important;
}

#item21741 {
	width:33px !important;
	height:21px !important;
	left:637px !important;
	top:1174px !important;
}

#item21745 {
	width:33px !important;
	height:21px !important;
	left:637px !important;
	top:1209px !important;
}

#item21748 {
	width:33px !important;
	height:21px !important;
	left:637px !important;
	top:1244px !important;
}

#item21752 {
	width:33px !important;
	height:21px !important;
	left:637px !important;
	top:1279px !important;
}

#item21755 {
	width:33px !important;
	height:21px !important;
	left:680px !important;
	top:823px !important;
}

#item21758 {
	width:33px !important;
	height:21px !important;
	left:680px !important;
	top:858px !important;
}

#item21762 {
	width:33px !important;
	height:21px !important;
	left:680px !important;
	top:893px !important;
}

#item21767 {
	width:33px !important;
	height:21px !important;
	left:680px !important;
	top:928px !important;
}

#item21770 {
	width:33px !important;
	height:21px !important;
	left:680px !important;
	top:963px !important;
}

#item21775 {
	width:33px !important;
	height:21px !important;
	left:680px !important;
	top:998px !important;
}

#item21778 {
	width:33px !important;
	height:21px !important;
	left:680px !important;
	top:1033px !important;
}

#item21782 {
	width:33px !important;
	height:21px !important;
	left:680px !important;
	top:1069px !important;
}

#item21786 {
	width:33px !important;
	height:21px !important;
	left:680px !important;
	top:1104px !important;
}

#item21789 {
	width:33px !important;
	height:21px !important;
	left:680px !important;
	top:1139px !important;
}

#item21793 {
	width:33px !important;
	height:21px !important;
	left:680px !important;
	top:1174px !important;
}

#item21796 {
	width:33px !important;
	height:21px !important;
	left:680px !important;
	top:1209px !important;
}

#item21799 {
	width:33px !important;
	height:21px !important;
	left:680px !important;
	top:1244px !important;
}

#item21803 {
	width:33px !important;
	height:21px !important;
	left:680px !important;
	top:1279px !important;
}

#item21808 {
	width:33px !important;
	height:21px !important;
	left:724px !important;
	top:823px !important;
}

#item21811 {
	width:33px !important;
	height:21px !important;
	left:724px !important;
	top:858px !important;
}

#item21816 {
	width:33px !important;
	height:21px !important;
	left:724px !important;
	top:893px !important;
}

@keyframes pulse-21816 {
	0% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
	21% {transform:translate(0px,0px) scaleX(1.32) scaleY(1.32);}
	42% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
	63% {transform:translate(0px,0px) scaleX(1.8) scaleY(1.8);}
	83% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
@-webkit-keyframes pulse-21816 {
	0% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
	21% {-webkit-transform:translate(0px,0px) scaleX(1.32) scaleY(1.32);}
	42% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
	63% {-webkit-transform:translate(0px,0px) scaleX(1.8) scaleY(1.8);}
	83% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
#item21819 {
	width:33px !important;
	height:21px !important;
	left:724px !important;
	top:928px !important;
}

#item21822 {
	width:33px !important;
	height:21px !important;
	left:724px !important;
	top:963px !important;
}

#item21826 {
	width:33px !important;
	height:21px !important;
	left:724px !important;
	top:998px !important;
}

#item21831 {
	width:33px !important;
	height:21px !important;
	left:724px !important;
	top:1033px !important;
}

@keyframes pulse-21831 {
	0% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
	21% {transform:translate(0px,0px) scaleX(1.32) scaleY(1.32);}
	42% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
	63% {transform:translate(0px,0px) scaleX(1.8) scaleY(1.8);}
	83% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
@-webkit-keyframes pulse-21831 {
	0% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
	21% {-webkit-transform:translate(0px,0px) scaleX(1.32) scaleY(1.32);}
	42% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
	63% {-webkit-transform:translate(0px,0px) scaleX(1.8) scaleY(1.8);}
	83% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
#item21835 {
	width:33px !important;
	height:21px !important;
	left:724px !important;
	top:1069px !important;
}

#item21838 {
	width:33px !important;
	height:21px !important;
	left:724px !important;
	top:1104px !important;
}

#item21841 {
	width:33px !important;
	height:21px !important;
	left:724px !important;
	top:1139px !important;
}

#item21845 {
	width:33px !important;
	height:21px !important;
	left:724px !important;
	top:1174px !important;
}

#item21853 {
	width:33px !important;
	height:21px !important;
	left:724px !important;
	top:1209px !important;
}

#item21856 {
	width:33px !important;
	height:21px !important;
	left:724px !important;
	top:1244px !important;
}

#item21861 {
	width:33px !important;
	height:21px !important;
	left:724px !important;
	top:1279px !important;
}

#item21864 {
	width:33px !important;
	height:21px !important;
	left:767px !important;
	top:823px !important;
}

#item21867 {
	width:33px !important;
	height:21px !important;
	left:767px !important;
	top:858px !important;
}

#item21871 {
	width:33px !important;
	height:21px !important;
	left:767px !important;
	top:893px !important;
}

#item21874 {
	width:33px !important;
	height:21px !important;
	left:767px !important;
	top:928px !important;
}

#item21879 {
	width:33px !important;
	height:21px !important;
	left:767px !important;
	top:963px !important;
}

#item21882 {
	width:33px !important;
	height:21px !important;
	left:767px !important;
	top:998px !important;
}

#item21885 {
	width:33px !important;
	height:21px !important;
	left:767px !important;
	top:1033px !important;
}

#item21889 {
	width:33px !important;
	height:21px !important;
	left:767px !important;
	top:1069px !important;
}

#item21894 {
	width:33px !important;
	height:21px !important;
	left:767px !important;
	top:1104px !important;
}

#item21897 {
	width:33px !important;
	height:21px !important;
	left:767px !important;
	top:1139px !important;
}

#item21902 {
	width:33px !important;
	height:21px !important;
	left:767px !important;
	top:1174px !important;
}

#item21905 {
	width:33px !important;
	height:21px !important;
	left:767px !important;
	top:1209px !important;
}

#item21908 {
	width:33px !important;
	height:21px !important;
	left:767px !important;
	top:1244px !important;
}

#item21913 {
	width:33px !important;
	height:21px !important;
	left:767px !important;
	top:1279px !important;
}

#item21916 {
	width:33px !important;
	height:21px !important;
	left:811px !important;
	top:823px !important;
}

#item21920 {
	width:33px !important;
	height:21px !important;
	left:811px !important;
	top:858px !important;
}

#item21923 {
	width:33px !important;
	height:21px !important;
	left:811px !important;
	top:893px !important;
}

#item21927 {
	width:33px !important;
	height:21px !important;
	left:811px !important;
	top:928px !important;
}

#item21932 {
	width:33px !important;
	height:21px !important;
	left:811px !important;
	top:963px !important;
}

#item21937 {
	width:33px !important;
	height:21px !important;
	left:811px !important;
	top:998px !important;
}

#item21940 {
	width:33px !important;
	height:21px !important;
	left:811px !important;
	top:1033px !important;
}

#item21945 {
	width:33px !important;
	height:21px !important;
	left:811px !important;
	top:1069px !important;
}

#item21948 {
	width:33px !important;
	height:21px !important;
	left:811px !important;
	top:1104px !important;
}

#item21951 {
	width:33px !important;
	height:21px !important;
	left:811px !important;
	top:1139px !important;
}

#item21955 {
	width:33px !important;
	height:21px !important;
	left:811px !important;
	top:1174px !important;
}

#item21958 {
	width:33px !important;
	height:21px !important;
	left:811px !important;
	top:1209px !important;
}

#item21962 {
	width:33px !important;
	height:21px !important;
	left:811px !important;
	top:1244px !important;
}

#item21965 {
	width:33px !important;
	height:21px !important;
	left:811px !important;
	top:1279px !important;
}

#item21968 {
	width:33px !important;
	height:21px !important;
	left:854px !important;
	top:823px !important;
}

#item21972 {
	width:33px !important;
	height:21px !important;
	left:854px !important;
	top:858px !important;
}

#item21978 {
	width:33px !important;
	height:21px !important;
	left:854px !important;
	top:893px !important;
}

#item21981 {
	width:33px !important;
	height:21px !important;
	left:854px !important;
	top:928px !important;
}

#item21986 {
	width:33px !important;
	height:21px !important;
	left:854px !important;
	top:963px !important;
}

#item21989 {
	width:33px !important;
	height:21px !important;
	left:854px !important;
	top:998px !important;
}

#item21992 {
	width:33px !important;
	height:21px !important;
	left:854px !important;
	top:1033px !important;
}

#item21996 {
	width:33px !important;
	height:21px !important;
	left:854px !important;
	top:1069px !important;
}

#item21999 {
	width:33px !important;
	height:21px !important;
	left:854px !important;
	top:1104px !important;
}

@keyframes pulse-21999 {
	0% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
	21% {transform:translate(0px,0px) scaleX(1.32) scaleY(1.32);}
	42% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
	63% {transform:translate(0px,0px) scaleX(1.8) scaleY(1.8);}
	83% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
@-webkit-keyframes pulse-21999 {
	0% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
	21% {-webkit-transform:translate(0px,0px) scaleX(1.32) scaleY(1.32);}
	42% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
	63% {-webkit-transform:translate(0px,0px) scaleX(1.8) scaleY(1.8);}
	83% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
#item22007 {
	width:33px !important;
	height:21px !important;
	left:854px !important;
	top:1139px !important;
}

#item22010 {
	width:33px !important;
	height:21px !important;
	left:854px !important;
	top:1174px !important;
}

#item22013 {
	width:33px !important;
	height:21px !important;
	left:854px !important;
	top:1209px !important;
}

#item22017 {
	width:33px !important;
	height:21px !important;
	left:854px !important;
	top:1244px !important;
}

#item22022 {
	width:33px !important;
	height:21px !important;
	left:854px !important;
	top:1279px !important;
}

#item22026 {
	width:33px !important;
	height:21px !important;
	left:898px !important;
	top:823px !important;
}

#item22032 {
	width:33px !important;
	height:21px !important;
	left:898px !important;
	top:858px !important;
}

#item22035 {
	width:33px !important;
	height:21px !important;
	left:898px !important;
	top:893px !important;
}

#item22038 {
	width:33px !important;
	height:21px !important;
	left:898px !important;
	top:928px !important;
}

#item22042 {
	width:33px !important;
	height:21px !important;
	left:898px !important;
	top:963px !important;
}

#item22047 {
	width:33px !important;
	height:21px !important;
	left:898px !important;
	top:998px !important;
}

#item22052 {
	width:33px !important;
	height:21px !important;
	left:898px !important;
	top:1033px !important;
}

#item22055 {
	width:33px !important;
	height:21px !important;
	left:898px !important;
	top:1069px !important;
}

#item22058 {
	width:33px !important;
	height:21px !important;
	left:898px !important;
	top:1104px !important;
}

#item22062 {
	width:33px !important;
	height:21px !important;
	left:898px !important;
	top:1139px !important;
}

#item22067 {
	width:33px !important;
	height:21px !important;
	left:898px !important;
	top:1174px !important;
}

#item22070 {
	width:33px !important;
	height:21px !important;
	left:898px !important;
	top:1209px !important;
}

#item22075 {
	width:33px !important;
	height:21px !important;
	left:898px !important;
	top:1244px !important;
}

#item22079 {
	width:33px !important;
	height:21px !important;
	left:898px !important;
	top:1279px !important;
}

#item22082 {
	width:33px !important;
	height:21px !important;
	left:941px !important;
	top:823px !important;
}

#item22086 {
	width:33px !important;
	height:21px !important;
	left:941px !important;
	top:858px !important;
}

#item22089 {
	width:33px !important;
	height:21px !important;
	left:941px !important;
	top:893px !important;
}

#item22093 {
	width:33px !important;
	height:21px !important;
	left:941px !important;
	top:928px !important;
}

#item22096 {
	width:33px !important;
	height:21px !important;
	left:941px !important;
	top:963px !important;
}

#item22099 {
	width:33px !important;
	height:21px !important;
	left:941px !important;
	top:998px !important;
}

#item22103 {
	width:33px !important;
	height:21px !important;
	left:941px !important;
	top:1033px !important;
}

#item22108 {
	width:33px !important;
	height:21px !important;
	left:941px !important;
	top:1069px !important;
}

#item22111 {
	width:33px !important;
	height:21px !important;
	left:941px !important;
	top:1104px !important;
}

#item22116 {
	width:33px !important;
	height:21px !important;
	left:941px !important;
	top:1139px !important;
}

#item22119 {
	width:33px !important;
	height:21px !important;
	left:941px !important;
	top:1174px !important;
}

#item22123 {
	width:33px !important;
	height:21px !important;
	left:941px !important;
	top:1209px !important;
}

#item22127 {
	width:33px !important;
	height:21px !important;
	left:941px !important;
	top:1244px !important;
}

#item22131 {
	width:33px !important;
	height:21px !important;
	left:941px !important;
	top:1279px !important;
}

#item25508 {
	width:33px !important;
	height:21px !important;
	left:854px !important;
	top:1104px !important;
}

@keyframes disappear-25508 {
	0% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes disappear-25508 {
	0% {opacity:1;}
	100% {opacity:1;}
}
#item25518 {
	width:57px !important;
	height:57px !important;
	left:197px !important;
	top:669px !important;
}

#item25519 {
	width:57px !important;
	height:57px !important;
	left:1409px !important;
	top:669px !important;
}

#item3906 {
	width:1670px !important;
	height:239px !important;
	background:#373a36;
}

#item3907 {
	width:1092px !important;
	left:289px !important;
	top:64px !important;
	min-height:152px !important;
}

#item2768 {
	width:1670px !important;
	height:423px !important;
	background:#373a36;
}

#item4195 {
	width:351px !important;
	left:288px !important;
	top:203px !important;
	min-height:140px !important;
}

#item4218 {
	width:351px !important;
	left:665px !important;
	top:203px !important;
	min-height:140px !important;
}

#item6922 {
	width:41px !important;
	height:16px !important;
	left:289px !important;
	top:568px !important;
}

#item6923 {
	width:41px !important;
	height:16px !important;
	left:666px !important;
	top:568px !important;
}

#item4282 {
	width:1670px !important;
	height:455px !important;
	background:#fff;
}

#item3996 {
	width:1510px !important;
	left:80px !important;
	top:67px !important;
	min-height:327px !important;
}

p.Article-Read-more {
	font-weight:bold;
	font-family:FF-VontobelSans-Bold,"Vontobel Sans",sans-serif;
	font-size:18px;
	line-height:21.6px;
	color:#c7aa38;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	padding-left:50px;
	margin-top:28px;
	text-align:left;
}

p.Article-Text-White {
	font-family:FF-VontobelSans-Regular,"Vontobel Sans",sans-serif;
	font-size:14px;
	line-height:22px;
	color:#fff;
	text-align:left;
}

p.Article-Title-White {
	font-weight:bold;
	font-family:FF-VontobelSans-Bold,"Vontobel Sans",sans-serif;
	font-size:28px;
	line-height:33.6px;
	color:#fff;
	margin-bottom:20px;
	text-align:left;
}

p.Article-Text {
	font-family:FF-VontobelSans-Regular,"Vontobel Sans",sans-serif;
	font-size:14px;
	line-height:22px;
	color:#000;
	text-align:left;
}

p.Article-Title-Black {
	font-weight:bold;
	font-family:FF-VontobelSans-Bold,"Vontobel Sans",sans-serif;
	font-size:28px;
	line-height:33.6px;
	color:#000;
	margin-bottom:20px;
	text-align:left;
}

p.Accent-Block-Text-Left-White {
	font-family:FF-VontobelSans-Book,"Vontobel Sans",sans-serif;
	font-size:20px;
	line-height:28px;
	color:#fff;
	text-align:left;
}

p.Accent-Block-Text-Left {
	font-family:FF-VontobelSans-Book,"Vontobel Sans",sans-serif;
	font-size:20px;
	line-height:28px;
	color:#000;
	text-align:left;
}

p.Accent-Block-Left-White {
	font-weight:bold;
	font-family:FF-VontobelSans-Bold,"Vontobel Sans",sans-serif;
	font-size:32px;
	line-height:38.4px;
	color:#fff;
	margin-bottom:26px;
	text-align:left;
}

p.Accent-Block-Left {
	font-weight:bold;
	font-family:FF-VontobelSans-Bold,"Vontobel Sans",sans-serif;
	font-size:32px;
	line-height:38.4px;
	color:#000;
	margin-bottom:26px;
	text-align:left;
}

p.infographice-Text-2 {
	font-weight:bold;
	font-family:FF-VontobelSerif-Bold,"Vontobel Serif",serif;
	font-size:41px;
	line-height:53.2px;
	color:#000;
	text-align:left;
}

p.Infographic-Text-1 {
	font-weight:bold;
	font-family:FF-VontobelSerif-Bold,"Vontobel Serif",serif;
	font-size:46px;
	line-height:62px;
	color:#fff;
	text-align:left;
}

p.Banner-Sub-Heading {
	font-weight:bold;
	font-family:FF-VontobelSans-Bold,"Vontobel Sans",sans-serif;
	font-size:32px;
	line-height:38.4px;
	color:#fff;
	text-align:left;
}

p.Banner-Heading {
	font-weight:bold;
	font-family:FF-VontobelSerif-Bold,"Vontobel Serif",serif;
	font-size:70px;
	line-height:84px;
	color:#fff;
	text-align:left;
}

p.Navigation {
	font-family:FF-VontobelSans-Book,"Vontobel Sans",sans-serif;
	font-size:18px;
	line-height:21.6px;
	color:#000;
	text-align:left;
}

p.Basic-Paragraph {
	font-family:FF-MinionPro-Regular,"Minion Pro","Times New Roman", Times, serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	text-align:left;
}

p.No-Paragraph-Style {
	font-family:"Minion Pro","Times New Roman", Times, serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

span.None {
}
#in5footer,  #prefooter {display:none;}
